<html xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>
<h1 th:text="${titulo}"></h1>

<ul>
    <li>
        <a th:href="@{/path/string/} +'Hola Luis' ">/path/string/Hola Luis</a>
    </li>
    <li>
        <a th:href="@{/path/string/} +'Hola Andres' ">/path/string/Hola Andres</a>
    </li>
    <li>
        <a th:href="@{/path/string/} +'Hola Camilo' + '/' + 28 ">/path/string/Hola Camilo/28</a>
    </li>
</ul>
</body>
</html>