<html xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title> Enviar parametros del request</title>
</head>
<body>
<h1> Enviar parametros del request</h1>

<ul>
    <li>
        <a th:href="@{/params/string(texto='Hola Miguel')}">/params/string?texto = Hola Miguel</a>
    </li>
    <li>
        <a th:href="@{/params/string(texto='Que tal Miguel')}">/params/string?texto = Que tal Miguel</a>
    </li>
    <li>
        <a th:href="@{/params/mix-params(saludo='Como estas Miguel', numero = 28)}">/params/mix-params?saludo = Como
            estas Miguel&numero=28 </a>
    </li>
    <li>
        <a th:href="@{/params/mix-params-request(saludo='Como estas Miguel', numero = 284)}">/params/mix-params?saludo =
            Como estas Miguel&numero=284 </a>
    </li>
</ul>
</body>
</html>