<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Spring Boot</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/list}">Clients</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
<h1 class="text-secondary border border-success border-top-0 border-left-0 border-right-0" th:text="${title}"></h1>
<form th:action="@{/form}" th:object="${client}" method="post">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">NAME</label>
        <div class="col-sm-6">
        <input type="text" th:field="*{name}" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">LASTNAME</label>
        <div class="col-sm-6">
            <input type="text" th:field="*{lastName}" class="form-control"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">EMAIL</label>
        <div class="col-sm-6">
            <input type="email" th:field="*{email}" class="form-control"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">DATE</label>
        <div class="col-sm-6">
            <input type="text" th:field="*{createAt}" class="form-control"/>
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="col-sm-6">
            <input type="submit" value="Create client" class="btn btn-primary"/>
        </div>
    </div>
    <input type="hidden" th:field="*{id}"/>
</form>

</div>
</body>
</html>